$body-bg: #f2ecda;
$body-color: #18020C;

$theme-colors: (
  "primary": #3E58B6,
);

a:link{
  text-decoration: none;
}

h1, h2{
  color: rgb(128, 128, 128);
}

@import '~bootstrap/scss/bootstrap.scss';